body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
}

.section {
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.decoration-cubs {
  display: none;
}

.display-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.display-content h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #002E50;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: 30px;
}

.display-content h2 a {
  color: #202FB6;
  text-decoration: none;
}

.display-content h2 a:hover, .display-content h2 a:focus {
  color: #E1FC52;
}

.display-content .telephone-text-container {
  padding-left: 35px;
  padding-right: 45px;
  margin-bottom: 50px;
  text-align: left;
  color: #002E50;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.52%;
}

.display-content .telephone-text-container p {
  margin: 0;
  margin-bottom: 25px;
  opacity: 0.75;
}

.display-content .telephone-text-container a {
  position: relative;
  text-decoration: none;
  color: #002E50;
  line-height: 130%;
  margin-left: 52px;
}

.display-content .telephone-text-container a span {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.display-content .telephone-text-container a:hover, .display-content .telephone-text-container a:focus {
  color: #E1FC52;
}

.display-content .telephone-text-container a::before {
  left: -52px;
  top: -10px;
  position: absolute;
  display: inline-block;
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../img/icon-arrow.jpg);
}

.display-content .img-container {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.display-content .img-container .back-img {
  display: none;
}

.display-content .img-container .decoration-element {
  display: none;
}

.display-content .img-container .mobile-back-img {
  -webkit-box-shadow: -2.98765px 1.99177px 7.96708px rgba(0, 0, 0, 0.08), 9.95885px 0px 17.428px rgba(116, 116, 116, 0.13);
          box-shadow: -2.98765px 1.99177px 7.96708px rgba(0, 0, 0, 0.08), 9.95885px 0px 17.428px rgba(116, 116, 116, 0.13);
}

.display-content .img-container .mobile-decoration {
  position: absolute;
}

.display-content .img-container .dir-img {
  left: -20px;
  top: -15px;
  -webkit-filter: drop-shadow(-2.70881px 1.80587px 7.22348px rgba(0, 0, 0, 0.08)) drop-shadow(9.02936px 0px 15.8014px rgba(116, 116, 116, 0.13));
          filter: drop-shadow(-2.70881px 1.80587px 7.22348px rgba(0, 0, 0, 0.08)) drop-shadow(9.02936px 0px 15.8014px rgba(116, 116, 116, 0.13));
}

.display-content .img-container .favorite-img {
  z-index: -1;
  right: -8px;
  top: -35px;
}

.display-content .img-container .recent-img {
  right: -8px;
  bottom: -15px;
}

.display-content .img-container .may-img {
  bottom: -55px;
  left: -20px;
}

.web-controle {
  background-color: #002E50;
  padding-top: 65px;
}

.web-controle .web-controle__top-container .web-controle__info-content {
  text-align: center;
}

.web-controle .web-controle__top-container .web-controle__info-content h2 {
  max-width: 345px;
  margin: 0 auto 0 auto;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 109.52%;
  text-align: center;
}

.web-controle .web-controle__top-container .web-controle__info-content h2 a {
  text-decoration: none;
  color: #E1FC52;
}

.web-controle .web-controle__top-container .web-controle__info-content h2 a:hover {
  color: #202FB6;
}

.web-controle .web-controle__top-container .web-controle__info-content p {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container {
  padding: 0;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container li {
  list-style: none;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__free-link {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  padding: 15px 30px;
  text-decoration: none;
  color: #002E50;
  background-color: #E1FC52;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__free-link:hover {
  background-color: #fff;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__order-link {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  text-decoration: none;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__order-link:hover {
  color: #E1FC52;
}

.web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__order-link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -55px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../img/icons-arrow/blue_arrow_white_fone.jpg);
}

.web-controle .web-controle__top-container .img-container {
  text-align: center;
}

.web-controle .web-controle__top-container .img-container .desktop-img {
  display: none;
}

.web-controle__bootom-container {
  display: none;
}

@media screen and (min-width: 800px) {
  .section {
    max-width: 1440px;
    min-width: 1300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .display-manage__wraper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 1245px;
    min-height: 960px;
    padding-top: 0;
  }
  .display-manage__wraper .decoration-cubs {
    display: block;
    position: absolute;
    width: 635px;
    height: 860px;
    border-radius: 30px;
  }
  .display-manage__wraper .first-cube {
    -webkit-transform: rotate(-173.45deg);
            transform: rotate(-173.45deg);
    -webkit-box-shadow: -6px 4px 16px rgba(233, 233, 233, 0.08), 20px 24px 65px rgba(116, 116, 116, 0.09);
            box-shadow: -6px 4px 16px rgba(233, 233, 233, 0.08), 20px 24px 65px rgba(116, 116, 116, 0.09);
    left: -455px;
    top: -456px;
  }
  .display-manage__wraper .second-cube {
    padding: 40px;
    border: 1px solid #E1FC52;
    -webkit-transform: rotate(6.55deg);
            transform: rotate(6.55deg);
    top: -678px;
    right: -550px;
  }
  .display-manage__wraper .second-cube div {
    background-color: #E1FC52;
    height: 100%;
    border-radius: 30px;
  }
  .display-manage__wraper .third-cube {
    padding: 40px;
    border: 1px solid #D6B9FC;
    -webkit-transform: rotate(6.55deg);
            transform: rotate(6.55deg);
    bottom: -610px;
    right: -187px;
  }
  .display-manage__wraper .third-cube div {
    background-color: #D6B9FC;
    height: 100%;
    border-radius: 30px;
  }
  .display-content {
    position: relative;
    padding-left: 140px;
    padding-right: 140px;
    max-width: 1215px;
  }
  .display-content h2 {
    position: relative;
    font-size: 56px;
    line-height: 109.52%;
    max-width: 655px;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 80px;
  }
  .display-content h2 a {
    color: #002E50;
  }
  .display-content h2 a::after {
    content: '';
    display: block;
    position: absolute;
    right: 145px;
    background-image: url(../img/underline.jpg);
    width: 260px;
    height: 18px;
    background-repeat: no-repeat;
  }
  .display-content .telephone-text-container {
    display: none;
  }
  .display-content .img-container .back-img {
    display: block;
    -webkit-box-shadow: 0px 0px 15.0659px 2.51099px rgba(0, 0, 0, 0.14), 0px 10.044px 25.1099px 7.53297px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 15.0659px 2.51099px rgba(0, 0, 0, 0.14), 0px 10.044px 25.1099px 7.53297px rgba(0, 0, 0, 0.2);
    border-radius: 5.02198px;
  }
  .display-content .img-container .mobile-back-img {
    display: none;
  }
  .display-content .img-container .decoration-element {
    display: block;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    border-radius: 10px;
    text-align: center;
    padding: 23px 28px 23px 10px;
  }
  .display-content .img-container .decoration-element span {
    color: #002E50;
    font-weight: 600;
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .display-content .img-container .first {
    color: #002E50;
    background: #D6B9FC;
    -webkit-transform: rotate(-8.21deg);
            transform: rotate(-8.21deg);
    left: -107px;
    top: -60px;
  }
  .display-content .img-container .second {
    background: #202FB6;
    -webkit-transform: rotate(-3.44deg);
            transform: rotate(-3.44deg);
    right: -140px;
    top: 170px;
    color: #FFFFFF;
  }
  .display-content .img-container .third {
    background: #E1FC52;
    -webkit-transform: rotate(4.62deg);
            transform: rotate(4.62deg);
    bottom: -50px;
    left: -60px;
    z-index: -1;
  }
  .display-content .img-container .mobile-decoration {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .web-controle {
    background-color: #202FB6;
    padding: 30px 30px 0px 30px;
  }
  .web-controle .web-controle__top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
  }
  .web-controle .web-controle__top-container .web-controle__info-content {
    background-color: #E1FC52;
    border-radius: 10px 0 0 10px;
  }
  .web-controle .web-controle__top-container .web-controle__info-content h2 {
    margin: 95px auto 25px auto;
    max-width: 490px;
    color: #002E50;
    font-size: 48px;
  }
  .web-controle .web-controle__top-container .web-controle__info-content h2 a {
    color: #002E50;
  }
  .web-controle .web-controle__top-container .web-controle__info-content h2 a:hover {
    color: #202FB6;
  }
  .web-controle .web-controle__top-container .web-controle__info-content p {
    color: #002E50;
    margin-bottom: 145px;
  }
  .web-controle .web-controle__top-container .web-controle__info-content .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__free-link {
    background-color: #fff;
    margin: 0;
    border-radius: 5px;
    margin-right: 25px;
  }
  .web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__free-link:hover {
    background-color: #202FB6;
    color: #fff;
  }
  .web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__order-link {
    color: #002E50;
    margin: 0;
  }
  .web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__order-link:hover {
    color: #202FB6;
  }
  .web-controle .web-controle__top-container .web-controle__info-content .link-container .web-controle__order-link::before {
    background-image: url(../img/icons-arrow/blue_arrow_grey_fone.jpg);
  }
  .web-controle .web-controle__top-container .img-container .desktop-img {
    display: block;
    border-radius: 0 10px 10px 0;
  }
  .web-controle .web-controle__top-container .img-container .telephone-img {
    display: none;
  }
  .web-controle__bootom-container {
    display: block;
    padding-top: 105px;
    text-align: center;
  }
  .web-controle__bootom-container h2 {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 109.52%;
  }
  .web-controle__bootom-container .decisions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .web-controle__bootom-container .decisions li {
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    width: calc((100% - 30px)/2);
    min-height: 386px;
    border-radius: 10px;
  }
  .web-controle__bootom-container .decisions li h3 {
    margin-left: 65px;
    font-weight: 500;
    font-size: 40px;
    line-height: 100.5%;
    color: #fff;
  }
  .web-controle__bootom-container .decisions .advertising-networks {
    background-image: url(../img/nout-img.jpg);
  }
  .web-controle__bootom-container .decisions .tv {
    background-image: url(../img/tv-img.jpg);
  }
  .web-controle__bootom-container .decisions .restorans {
    background-image: url(../img/restorans-img.jpg);
  }
}
/*# sourceMappingURL=main.css.map */