//global vars
$text-color:#002E50;
$light-blue-color:#202FB6;
$yellow-color: #E1FC52;


//telephone vars
$telephone-min-width: 375px;


//desktop vars
$desktop-min-width: 800px;
$sector-max-width: 1440px;
$sector-min-width:1300px;