@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin bg-img-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
