body{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
   // min-width: $sector-min-width;
}


.section{
    min-width: $telephone-min-width;
    margin-left: auto;
    margin-right: auto;    
}